<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex"></div>
          <h4 class="card-title">
            <%= link_to board.subject.title, board_path(board) %>
          </h4>
        <p class="card-text">
          <%= "投稿者： #{board.user.name}" %>
        </p>
        <p class="card-text">
          <%= "優勝：#{board.conclusion}" %>
        </p>
        <p class="card-text">
          <%= "次点：#{board.runner_up}" %>
        </p>
          <% if current_user&.own?(board) %>
            <div class='ms-auto d-flex justify-content-end'>
              <%= link_to edit_board_path(board), id: "button-edit-#{board.id}", style: "margin-right: 10px;"  do %>
                <p> 編集 </p>
              <% end %>
              <br>
              <%= link_to board_path(board), id: "button-delete-#{board.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                <p> 削除 </p>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>