<% content_for(:title, "#{@subject.title} | 空想ディベート") %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @subject.title %></h3>
            </div>
          </div>
        <p class="card-text">
          <%= "投稿者： #{@board.user.name}" %>
        </p>
        <p class="card-text">
          <%= "優勝：#{@board.conclusion}" %>
        </p>
        <p class="card-text">
          <%= "次点：#{@board.runner_up}" %>
        </p>
        </div>
      </article>
      </div>
    </div>
  </div>
</div>