<% content_for(:title, "#{@subject.title} | RUNTEQ BOARD APP") %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <article class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h3 style="display: inline;"><%= @subject.title %></h3>
              <div class='d-flex justify-content-end'>
                <% if current_user.own?(@board) %>
                <div class='ms-auto'>
                  <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}" do %>
                    <i class="bi bi-pencil-fill"></i>
                  <% end %>
                  <%= link_to board_path(@board), id: "button-delete-#{@board.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <p><%= simple_format(@subject.title) %></p>
        </div>
      </article>
      </div>
    </div>
  </div>
</div>